{% extends "notification/layout.html" %}
{% load bootstrap3 %}
{% block header %}
<h1>当前分组： {{ type }} </h1>
{% endblock header %}
{% block content %}
<form action="{% url 'notification:edit_notice' notice.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <button name="submit" class="btn btn-danger">修改此条通知</button>
    {% endbuttons %}
</form>
<form action="{% url 'notification:delete_notice' notice.id %}" method="post" class="form">
    {% csrf_token %}
     <button name="submit" class="btn btn-danger">删除此条通知</button>
</form>
{% endblock content %}